@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html,
body {
  min-height: 100vh;
  width: 100%;
}

.img-svg {
  opacity: 1;
}

.img-svg svg {
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
}

/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0 none;
  background-color: transparent;
  scroll-behavior: smooth;
}

/* Убираем внутренние отступы */
ul,
ol {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-size: 14px;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul,
ol {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  cursor: pointer;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
  cursor: pointer;
  padding: 0;
  border: none;
  outline: none;
}

input,
textarea {
  outline: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

label {
  cursor: pointer;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.black-freday-wrp-bun {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

article.fluid-banner-br-bf {
  position: relative;
  max-height: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

@media (max-width: 1080px) {
  article.fluid-banner-br-bf {
    margin-bottom: 20px;
  }
}

.col-lg-12-br-bf {
  position: relative;
  width: 100%;
}

.col-lg-10-br-bf {
  width: 100%;
}

.img-wrapper-br-bf {
  max-height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  overflow: hidden;
}

@media (max-width: 680px) {
  .img-wrapper-br-bf {
    max-height: 657px;
    -o-object-fit: cover;
       object-fit: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.img-wrapper-des-br-bf {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 680px) {
  .img-wrapper-des-br-bf {
    display: none;
  }
}

section.banner-info-wrap-br-bf {
  max-width: 1550px;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.banner-info-br-bf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.text-ban-br-bf {
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  min-width: 40%;
  max-width: 67%;
  padding: 20px;
  color: #ffffff;
  font-size: 36px;
  text-transform: uppercase;
  background: #0000006e;
  font-weight: 500;
}

.img-wrapper-mob-br-bf {
  display: none;
}

@media (max-width: 680px) {
  .img-wrapper-mob-br-bf {
    height: 657px;
    -o-object-fit: cover;
       object-fit: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 1500px) {
  .banner-info-br-bf {
    padding-left: 16px;
  }
}

@media (max-width: 1200px) {
  .text-ban-br-bf {
    font-size: 30px;
  }
}

@media (max-width: 900px) {
  .text-ban-br-bf {
    font-size: 26px;
    padding: 16px;
  }
}

@media (max-width: 900px) {
  .img-wrapper-des-br-bf {
    width: 140%;
    max-width: 140%;
  }
}

@media (max-width: 700px) {
  .img-wrapper-des-br-bf {
    width: 160%;
    max-width: 160%;
  }
  .text-ban-br-bf {
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  .img-wrapper-des-br-bf {
    width: 180%;
    max-width: 180%;
  }
  .text-ban-br-bf {
    font-size: 20px;
  }
}

@media (max-width: 425px) {
  .img-wrapper-des-br-bf {
    display: none;
  }
  .img-wrapper-mob-br-bf {
    width: 100%;
    display: block;
  }
  .text-ban-br-bf {
    max-width: 100%;
    margin-right: 16px;
  }
}

.black-freday-wrp {
  margin-bottom: 50px;
  max-width: 1550px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  text-align: center;
}

@media (max-width: 960px) {
  .black-freday-wrp {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 680px) {
  .black-freday-wrp {
    position: absolute;
  }
}

.black-freday-wrp__countdown {
  max-width: 708px;
  width: 100%;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 960px) {
  .black-freday-wrp__countdown {
    max-width: 350px;
    width: 100%;
  }
}

.black-freday-wrp__text {
  margin-bottom: 58px;
}

@media (max-width: 960px) {
  .black-freday-wrp__text {
    margin-bottom: 30px;
  }
}

.black-freday-wrp__countdown-time {
  font-size: 100px;
  font-weight: 700;
  line-height: 90px;
  color: #DDDDDD;
  position: relative;
}

@media (max-width: 960px) {
  .black-freday-wrp__countdown-time {
    font-size: 40px;
    line-height: 38px;
  }
}

.black-freday-wrp__countdown-time::before {
  content: "";
  position: absolute;
  top: 57px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #DDDDDD;
}

.black-freday-wrp__countdown-text {
  color: #DDDDDD;
}

@media (max-width: 960px) {
  .black-freday-wrp__countdown-text {
    font-size: 12px;
  }
}

.black-freday-wrp__countdown-number {
  max-width: 154px;
  width: 100%;
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: linear-gradient(162.37deg, #8A8A8A -34.26%, #000000 99.14%);
  border-radius: 8px;
  border: 2px solid #009B3E;
}

@media (max-width: 960px) {
  .black-freday-wrp__countdown-number {
    max-width: 68px;
    width: 100%;
  }
}

.black-freday-wrp__colon {
  font-size: 70px;
  color: #159822;
}

.black-freday-wrp__text-gv {
  margin-bottom: 24px;
  font-size: 36px;
  font-weight: 400;
}

@media (max-width: 960px) {
  .black-freday-wrp__text-gv {
    margin-bottom: 16px;
    font-size: 18px;
  }
}

@media (max-width: 680px) {
  .black-freday-wrp__text-gv {
    color: #ffffff;
  }
}

.black-freday-wrp__text-start {
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 600;
  color: #159822;
}

@media (max-width: 960px) {
  .black-freday-wrp__text-start {
    font-size: 24px;
  }
}

.black-friday-email {
  height: 450px;
  margin-bottom: 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  text-align: center;
}

@media (max-width: 680px) {
  .black-friday-email {
    height: 692px;
  }
}

.black-friday-email__img {
  height: 450px;
  position: relative;
}

@media (max-width: 680px) {
  .black-friday-email__img {
    height: 692px;
  }
}

.black-friday-email__img-style {
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 680px) {
  .black-friday-email__img-style {
    height: 692px;
  }
}

.black-friday-email__text {
  max-width: 1400px;
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.9fr;
      grid-template-columns: 1fr 1.9fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1412px) {
  .black-friday-email__text {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 960px) {
  .black-friday-email__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 680px) {
  .black-friday-email__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.black-friday-email__text-wrp {
  text-align: left;
}

@media (max-width: 960px) {
  .black-friday-email__text-wrp {
    max-width: 700px;
    width: 100%;
    text-align: center;
  }
}

.black-friday-email__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 960px) {
  .black-friday-email__form {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.black-friday-email__btn {
  min-height: 40px;
  max-width: 273px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 6px;
  color: #ffffff;
  background-color: #009B3E;
}

.black-friday-email__email {
  margin-right: 16px;
  max-width: 273px;
  width: 100%;
  min-height: 40px;
  padding-left: 19px;
  padding-right: 19px;
  border-radius: 6px;
  background-color: #009b3e1a;
  color: #009B3E;
  white-space: nowrap;
  background-color: #ffffff;
  border: 1px solid #009B3E;
}

@media (max-width: 960px) {
  .black-friday-email__email {
    margin-right: 0;
  }
}

@media (max-width: 577px) {
  .black-friday-email__email {
    margin-bottom: 16px;
  }
}

.black-friday-email__text-title {
  max-width: 826px;
  margin-bottom: 13px;
  font-size: 36px;
}

@media (max-width: 1376px) {
  .black-friday-email__text-title {
    font-size: 24px;
  }
}

.black-friday-email__text-title {
  margin-bottom: 24px;
}

.black-friday-email__line {
  max-width: 502px;
  width: 100%;
  height: 1px;
  margin-bottom: 33px;
  background-color: #C4C4C4;
}

@media (max-width: 960px) {
  .black-friday-email__line {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 680px) {
  .black-friday-email__line {
    margin-bottom: 24px;
  }
}

.black-friday-email__text-main {
  margin-bottom: 40px;
}

@media (max-width: 1376px) {
  .black-friday-email__text-main {
    font-size: 16px;
  }
}

@media (max-width: 680px) {
  .black-friday-email__text-main {
    margin-bottom: 24px;
  }
}

.black-friday-email__img-cupone {
  padding-right: 135px;
}

@media (max-width: 1376px) {
  .black-friday-email__img-cupone {
    padding-right: 90px;
  }
}

@media (max-width: 960px) {
  .black-friday-email__img-cupone {
    display: none;
  }
}

@media (max-width: 680px) {
  .black-friday-email__img-cupone {
    padding-right: 0;
    max-width: 292px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.black-freday-wrp-description {
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  line-height: 24px;
}

@media (max-width: 960px) {
  .black-freday-wrp-description {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 680px) {
  .black-freday-wrp-description {
    margin-bottom: 24px;
  }
}

@media (max-width: 680px) {
  .black-friday-bun-wrp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.black-friday-email-warning {
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */