@import "_main_variable_gv.scss";
@import "_normalize.scss";
@import "_styleAdaptive.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.black-freday-wrp-bun {
    display: flex;
    align-items: flex-end;
}

article.fluid-banner-br-bf {
    position: relative;
    max-height: 750px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    @include smallestScreenWidth {
        & {
            margin-bottom: 20px;
        }
    }
  }
  
  .col-lg-12-br-bf {
    position: relative;
    width: 100%;
  }
  
  .col-lg-10-br-bf {
    width: 100%;
  }
  
  .img-wrapper-br-bf {
    max-height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    @include mobileWidth {
        & {
            max-height: 657px;
            object-fit: cover;
            display: flex;
        }
    }
  }
  
  .img-wrapper-des-br-bf {
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include mobileWidth {
        & {
            display: none;
        }
    }
  }
  
  section.banner-info-wrap-br-bf {
    max-width: 1550px;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
  }
  
  div.banner-info-br-bf {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // padding: 1em;
  }
  
  .text-ban-br-bf {
    position: absolute;
    transform: translateY(-50%);
    min-width: 40%;
    max-width: 67%;
    padding: 20px;
    color: #ffffff;
    font-size: 36px;
    text-transform: uppercase;
    background: #0000006e;
    font-weight: 500;
  }
  
  .img-wrapper-mob-br-bf {
    display: none;
    @include mobileWidth {
        & {
            height: 657px;
            object-fit: cover;
            display: flex;
        }
    }
  }
  
  @media (max-width: 1500px) {
    .banner-info-br-bf {
      padding-left: 16px;
    }
  }
  
  
  @media (max-width: 1200px) {
    .text-ban-br-bf {
    font-size: 30px;
    }
  }
  
  @media (max-width: 900px) {
    .text-ban-br-bf {
    font-size: 26px;
    padding: 16px;
    }
  }
  
  @media (max-width: 900px) {
    .img-wrapper-des-br-bf {
      width: 140%;
      max-width: 140%;
    }
  }
  
  @media (max-width: 700px) {
    .img-wrapper-des-br-bf {
      width: 160%;
      max-width: 160%;
    }
    .text-ban-br-bf {
      font-size: 20px;
      }
  }
  
  @media (max-width: 500px) {
    .img-wrapper-des-br-bf {
      width: 180%;
      max-width: 180%;
    }
    .text-ban-br-bf {
      font-size: 20px;
      }
  }
  
  @media (max-width: 425px) {
    
    .img-wrapper-des-br-bf {
      display: none;
    }
    .img-wrapper-mob-br-bf {
      width: 100%;
      display: block;
    }
    .text-ban-br-bf {
      max-width: 100%;
      margin-right: 16px;
      }
  }

  .black-freday-wrp {
    margin-bottom: 50px;
    @include pageGred;
    @include main-text;
    @include bigMobileWidth {
        & {
            @include padMob;
        }
    }
    @include mobileWidth {
        & {
            position: absolute;
        }
    }
    &__countdown {
        max-width: 708px;
        width: 100%;
        margin-bottom: 32px;
        @include cenMarg;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include bigMobileWidth {
            & {
                max-width: 350px;
                width: 100%;
            }
        }
    }
    &__text {
        margin-bottom: 58px;
        @include bigMobileWidth {
            & {
                margin-bottom: 30px;
            }
        }
    }
    &__countdown-time {
        font-size: 100px;
        font-weight: 700;
        line-height: 90px;
        color: #DDDDDD;
        position: relative;
        @include bigMobileWidth {
            & {
                font-size: 40px;
                line-height: 38px;
            }
        }
        &::before {
            content: "";
            position: absolute;
            top: 57px;
            left: 0;
            width: 0;
            height: 2px;
            background-color: #DDDDDD;
        }
    }
    &__countdown-text {
        color: #DDDDDD;
        @include bigMobileWidth {
            & {
                font-size: 12px;
            }
        }
    }
    &__countdown-number {
        max-width: 154px;
        width: 100%;
        padding: 15px 0;
        display: flex;
        flex-direction: column;
        background: linear-gradient(162.37deg, #8A8A8A -34.26%, #000000 99.14%);
        border-radius: 8px;
        border: 2px solid $colorCard;
        @include bigMobileWidth {
            & {
                max-width: 68px;
                width: 100%;
            }
        }
    }
    &__colon {
        font-size: 70px;
        color: $color-main;
    }
    &__text-gv {
        margin-bottom: 24px;
        font-size: 36px;
        font-weight: 400;
        @include bigMobileWidth {
            & {
                margin-bottom: 16px;
                font-size: 18px;
            }
        }
        @include mobileWidth {
            & {
                color: #ffffff;
            }
        }
    }
    &__text-start {
        text-transform: uppercase;
        font-size: 48px;
        font-weight: 600;
        color: #159822;
        @include bigMobileWidth {
            & {
                font-size: 24px;
            }
        }
    }
}

.black-friday-email {
    height: 450px;
    margin-bottom: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    @include main-text;
    @include mobileWidth {
        & {
            height: 692px;
        }
    }
    &__img {
        height: 450px;
        position: relative;
        @include mobileWidth {
            & {
                height: 692px;
            }
        }
    }
    &__img-style {
        height: 450px;
        object-fit: cover;
        @include mobileWidth {
            & {
                height: 692px;
            }
        }
    }
    &__text {
        max-width: 1400px;
        position: absolute;
        display: grid;
        grid-template-columns: 1fr 1.9fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        align-items: center;
        @include staticPlockSolor {
            & {
                @include padMob;
            }
        }
        @include bigMobileWidth {
            & {
                display: flex;
            } 
        }
        @include mobileWidth {
            & {
                flex-direction: column;
            }
        }
        
    }
    &__text-wrp {
        text-align: left;
        @include bigMobileWidth {
            & {
                max-width: 700px;
                width: 100%;
                text-align: center;
            } 
        }
    }
    &__form {
        display: flex;
        @include bigMobileWidth {
            & {
                justify-content: space-around;
                flex-wrap: wrap;
            } 
        }
    }
    &__btn {
        @include btnCardBuy;
        &::hover {

        }

    }
    &__email {
        margin-right: 16px;
        max-width: 273px;
        width: 100%;
        @include btnCardTransparent;
        background-color: #ffffff;
        border: 1px solid $colorCard;
        @include bigMobileWidth {
            & {
                margin-right: 0;
            } 
        }
        @include formAdaptiv {
            & {
                margin-bottom: 16px;
            }
        }
    }
    &__text-title {
        max-width: 826px;
        margin-bottom: 13px;
        font-size: 36px;
        @include smScreenWidth {
            & {
                font-size: 24px;
            }
        }
        & {
            margin-bottom: 24px;
        }
    }
    &__line {
        max-width: 502px;
        width: 100%;
        height: 1px;
        margin-bottom: 33px;
        background-color: #C4C4C4;
        @include bigMobileWidth {
            & {
                @include cenMarg;
            } 
        }
        @include mobileWidth {
            & {
                margin-bottom: 24px;
            }
        }
    }
    &__text-main {
        margin-bottom: 40px;
        @include smScreenWidth {
            & {
                font-size: 16px;
            }
        }
        @include mobileWidth {
            & {
                margin-bottom: 24px;
            }
        }
    }
    &__img-cupone {
        padding-right: 135px;
        @include smScreenWidth {
            & {
                padding-right: 90px;
            }
        }
        @include bigMobileWidth {
            & {
                display: none;
            } 
        }
        @include mobileWidth {
            & {
                padding-right: 0;
                max-width: 292px;
                display: flex;
            }
        }
    }
}

.black-freday-wrp-description {
    max-width: 850px;
    @include cenMarg;
    margin-bottom: 50px;
    text-align: center;
    font-family: $fontRobotoReg;
    line-height: 24px;
    @include bigMobileWidth {
        & {
            @include padMob;
        }
    }
    @include mobileWidth {
        & {
            margin-bottom: 24px;
        }
    }
}

.black-friday-bun-wrp {
    @include mobileWidth {
        & {
            display: flex;
            align-items: flex-end;
        }
    }
}

.black-friday-email-warning {
    margin-bottom: 30px;
    @include main-text;
}